header {
    height: 100vh;
    background: url('../img/background.jpg') no-repeat;
    background-size: cover;

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

header:before {

    background: rgba(26,42,120, 0.5);
}

.center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

A{
    color: white;

}
.pp{
    color: brown;

}

#index_div{
    align:center;
    font-family: Verdana;

}

#index_table{
    background-image: url("/img/notepad.png");
    font-family: Verdana;
    border: 0px;
    solid-color: black;
    width: 378px;
    height: 430px;
}

#in_log{
    margin-left: 70px;
    margin-top: 95px;
}
#in_reg{
    margin-left: 70px;
    margin-top: 30px;
}

#log_label{
    margin-left: 95px;
    margin-top: 45px;
}
#pas_label{
    margin-left: 95px;
    margin-top: 5px;
    margin-bottom: 2px;
}

#but_log{
    margin-left: 55px;
    margin-right: 50px;
    margin-top: 2px;
}

#firs_time{
    margin-left: 130px;
    margin-top: 4px;
}
#m_text{
    background-color: #f6f6f6;
    color: black;
    margin-bottom: 3px;
    width: 350px;
}

#reg_text{
    margin: 5px;
}
